.chatbot {
    opacity: 1; 
    transition: opacity 4s ease-out; 
}

.chatbot-close {
    opacity: 0; 
}

.secondary{
    background-color: #9EB384;
}

ul{
    list-style-type: none;

}
.app{
    margin: 0;
    padding: 0;
    height: 100vh; 
    background-image: url('../public/particles.svg');
    background-size: cover;
    background-repeat: repeat;
  }
